body{height: 100%;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 4em;
    background-color:#68cdd5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head0{width: 40px;
}
.head1{ white-space: nowrap;
    border-radius: 8px;
    background-color:#55a8b3;
}
.head1\.1{float: left;
    padding: 0.5em 0.6em 0.5em 0.6em;
    color: white;
    font-size: 1.2em;
    background-color:#55a8b3;
    border-radius: 8px;
    border: none;

}
.head1\.2{float: left;
    color: #68cdd5;
    border-radius: 8px;
    background-color: white;
    font-size: 1.2em;
    padding: 0.5em 0.6em 0.5em 0.6em;
    border: none;

}
.head2{width: 42px;
    height: 44px;
    background-image:url(css_sprites.png);
    background-repeat:no-repeat;
    background-position:-124px -10px;
    transform: scale(0.6);

}
main{
    min-height: 100%;
    padding-bottom: 3.5em;
}
.table{width: 100%;
    height:3em;
    border-bottom: 1px solid #afbac0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.line1{width: 1px;
    padding-top: 3em;
    background-color: #afbac0;
}
.line2{width: 1px;
    padding-top: 3em;
    background-color: #afbac0;
}
.dropbtn{
    padding: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #afbac0;
    background-color: white;
}
.dropdown
{width: 32%;
    text-align: center;
    position: relative;
    display: inline-block;
    background-image: url("xiala.png");
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 0.8em;

}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 999999;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* 下拉菜单的链接 */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {background-color: #f1f1f1}


/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn2{
    padding: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #afbac0;
    background-color: white;
}
.dropdown2{
    position: relative;
    display: inline-block;
}
.dropdown-content2{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropbtn3{
    padding: 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #afbac0;
    background-color: white;
}
.dropdown3{
    position: relative;
    display: inline-block;
}
.dropdown-content3{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#main{min-height: 100%;
    padding-bottom: 4em;

}
footer{width: 100%;
    height: 3.5em;
    position: fixed;
    bottom: 0px;
    background-color: #f8fafb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #afbac0;
}

.footer2{width: 94px;
    height: 94px;
    background-image:url(css_sprites.png);
    background-repeat:no-repeat;
    background-position:-10px -10px;
    transform: scale(0.55);

}
.fot1{width: 46px;
    height: 40px;
    background-image:url(css_sprites.png);
    background-repeat:no-repeat;
    background-position:-10px -124px;
    transform: scale(0.6);
}
.fot3{width: 42px;
    height: 41px;
    background-image:url(css_sprites.png);
    background-repeat:no-repeat;
    background-position:-186px -10px;
    transform: scale(0.6);
}
.fot2{text-align: center;
    font-size: 0.8em;
    color: #68cdd5;
}
.fot4{text-align: center;
    font-size: 0.8em;
    color:#afbac0;
}



.ul1 {
    list-style-type:none;
    margin: 0;
    padding-left: 1.2em;

}
.li1{
    background-image:url(css_sprites.png);
    background-repeat:no-repeat;
    background-position:-186px -71px;
    padding-left:2.2em;
    color:#afbac0 ;
    padding-bottom: 0.3em;
}
.ul2{list-style-type:none;
    margin: 0;
    padding-left: 1.3em;
}
.li2{background-image:url(css_sprites.png);
    background-repeat:no-repeat;
    background-position:-186px -115px;
    padding-left:2em;
    color:#afbac0 ;
    padding-bottom: 0.3em;
}
.np1{display: inline-block;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.box{display: flex;
    justify-content:space-between;
    padding: 0.5em 0 0.5em 3.4em ;
    align-items: center;

}
.box2{display: inline-block;
    white-space: nowrap;
}
.np2{display: inline-block;
    color: red;
    margin: 0;
    font-size: 1.2em;
}
.np3{display: inline-block;
    margin: 0;
    width: 0.8em;
    padding-top: 0.8em;
    border-top: 2px solid #68cdd5;
    border-right:2px solid #68cdd5 ;
    transform: rotate(45deg);
    margin-right: 0.5em;
}
.a{border-bottom:1px solid #afbac0;
    padding: 0.5em 0 0.5em 0;
}
.b{border-bottom:1px solid #afbac0;
    padding: 0.5em 0 0.5em 0;
}
.c{
    border-bottom:1px solid #afbac0;
    padding: 0.5em 0 0.5em 0;
}
.d{border-bottom:1px solid #afbac0;
    padding: 0.5em 0 0.5em 0;
}
.e{
    border-bottom:1px solid #afbac0;
    padding: 0.5em 0 0.5em 0;
}